@charset "UTF-8";

/* --- 共通部分 --- */
html {
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* --- MSNL --- */
#body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    background-color: navy;
    height: 65px;
}

.logo {
    height: 100%;
}

#main {
    height: calc(100% - 65px);
    display: flex;
    flex-direction: row;
    background-color: #D9E5FF;
}

.item {
    height: 100%;
    width: 50%;
    padding: 10px;
}

.sub_main {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.not_console {
    border: solid 3px #000055;
}

.console {
    display: table;      
    height: 50px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.item_name {
    background-color: #000055;
    color: white;
    padding: 3px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.not_item_name {
    height: calc(100% - 50px);
}

.textarea {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 1%;
    background-color: aliceblue;
    font-size: 1.5rem;
    font-family: "Roboto Mono", "Lucida Console", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
}

.console_paragraph {
    display: table-cell; 
    height: 50px;
    padding-left: 10px;
    background-color: #D9E5FF;
    border-radius: 15px;
    font-size: 1rem;
    overflow-wrap: normal;
    vertical-align: middle;
}

.buttonArea {
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.button1_form {
    width: 200px;
}

a.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 200px;
    position: relative;
    background: #228bc8;
    border: 1px solid #228bc8;
    border-radius: 30px;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 1.3;
    text-align: left;
    text-decoration: none;
    transition-duration: 0.3s;
}
a.button1:before {
    content: '';
    width: 8px;
    height: 8px;
    border: 0;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -6px;
}
a.button1:hover {
    background: #fff;
    color: #228bc8;
}
a.button1:hover:before {
    border-top: 2px solid #228bc8;
    border-right: 2px solid #228bc8;
}

#examples_button {
    color: #000055;
}

#examples {
    visibility: visible;
	list-style-type:none;
	display:inline-block;
    background: #DDDDDD;
	border:1px solid black;
	position:relative;
    margin: 2px;
    padding: 5px;
    width: 85px;
}
#examples > ul {
	display:none;
}
#examples:hover ul {
	display:block;
	position:absolute;
    margin-top: 15px;
    padding: 5px;
	top:1.5em;
	left:0;
	list-style-type:none;
	border:1px solid gray;
	box-shadow:0px 15px 10px rgba(0,0,0,0.4);
    width: 83px;
    background: #EEEEEE;
    color: red;
}

#program_textarea {
    overflow: scroll;
    white-space: nowrap;
}

#program_not_console {
    height: calc(100% - 50px);
}

#output {
    display: block;
}

#output_not_console {
    height: calc(100% - 120px);
}

#run_button {
    visibility: hidden;
}

#step_button {
    visibility: hidden;
}

#step {
    display: none;
}

#step_not_console {
    height: calc(100% - 120px);
}

#step_not_item_name {
    background-color: aliceblue;
}

.data {
    height: calc((100% - 50px)/2);
    padding: 5px;
}

#instruction {
    display: table; 
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

#prev_data_textarea {
    background-color: #e6e6fa;
    border: 1px solid #000055;
    font-size: 1.2rem;
}

#instruction_paragraph {
    display: table-cell; 
    height: 50px;
    padding-left: 10px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-family: "Roboto Mono", "Lucida Console", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    color: black;
    overflow-wrap: normal;
    overflow: hidden;
    vertical-align: middle;
}

#next_data_textarea {
    background-color: #e6e6fa;
    border: 1px solid #000055;
    font-size: 1.2rem;
}